@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin boton-estilizado($bg-color) {
    background-color: $bg-color;
    color: $color-blanco;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: lighten($bg-color, 10%);
    }
}
