@use "variables";

.navbar {
    background-color: variables.$color-primario;
    padding: 15px;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            margin: 0 15px;

            a {
                color: variables.$color-blanco;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
