@use "variables";
@use "mixins";
@use "reset";
@use "global";
@use "navbar";


body {
    font-family: variables.$fuente-principal;
    background-color: variables.$color-fondo;
    color: variables.$color-texto;$color-blanco: white;

}

// Hero section
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                url("../img/foto-inicio.jpg") center/cover no-repeat;
   $color-blanco: white;


    @include mixins.flex-center;
    text-align: center;
    padding: 20px;

    @media (max-width: 768px) {
        height: 60vh;
        padding: 10px;
    }
}

// Product image
.product-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.05);
    }
}

// CTA Section
.cta-section {
    background-color: #f4f4f4;
    padding: 50px 20px;
    text-align: center;

    h2 {
        font-size: 2rem;
    }
}

// Botones
.btn-primary {
    @include mixins.boton-estilizado(variables.$color-primario);
}

.boton {
    @include mixins.boton-estilizado(variables.$color-primario);
}

.boton-secundario {
    @extend .boton;
    background-color: variables.$color-secundario;
}

// Page Productos
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.btn-dark {
    background-color: #222;
    border: none;
    &:hover {
        background-color: #444;
    }
}
 
